/* Body */

body {
	font-family: sans-serif;
	background-color: #2a2a2e;
	font-size: 12px;
}

/* Container */

.container {
	margin-top: 33px;
	width: 793px;
	height: 1122px;
    padding: 76px 76px;
	background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.cv-header {
	display: grid;
	grid-template-columns: 80% 20%;
    padding-bottom: 28px;
}

.personal-info {
	grid-column-start: 1;
}

.personal-info-name h1 {
    padding-top: 6px;
    text-transform: uppercase;
    line-height: 37px;
    font-size: 43px;
    font-weight: bold;
	padding-bottom: 7.5px;
	margin: 0;
}

.personal-info-title {
    font-size: 21.5px;
	font-weight: bold;
    padding-bottom: 20.5px;
}

/* .personal-info-contact {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	font-weight: bold;
    grid-gap: 6px;
} */

a {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

.avatar-container {
    /* margin-left: +5px; */
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar {
	/* display: inline;
	margin: 0 auto; */
	height: 100%;
	/* width: auto; */
}

.avatar-landscape {
	margin-left: -25%;
}

.fas, .far {
	margin-right: 4px;
}

.cv-header .fas {
    margin-right: 7px;
}

.avatar {
	grid-column-start: 2;
}

/* Make table look like personal-info-contact */

table {
	border-collapse: collapse;
    font-weight: bold;
}

table td {
	border: 6px transparent solid; 
}

table tr:first-child td {
	border-top: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:last-child {
	border-right: 0;
}

th {
    display: table-cell;
    vertical-align: inherit;
    text-align: inherit;
}

th a, td a {
    display: block;
}

/* CV-body grid */
.cv-body {
	display: grid;
    grid-gap: 5%;
    grid-template-columns: 57% 38%;
}

.cv-body-main {
	grid-column-start: 1;
}

.cv-body-extra {
	grid-column-start: 2;
}

/* CV-item */

.cv-item {
	padding-bottom: 15px;
}

.cv-item-heading {
    margin-bottom: 14px;
    font-size: 27px;
	font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 3.3px solid;
}

hr.cv-item-subitem-separator {
	border-top: 1px dashed #dcdcdc;
	border-bottom: 1px dashed #fff;
	border-left: 1px dashed #fff;
	border-right: 1px dashed #fff;
}

/* Work Experience */

.cv-item-work-experience-title {
    font-size: 20px;
}

.cv-item-work-experience-position, .cv-item-education-subheading, .cv-item-skills-subitem-heading {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}

.cv-item-work-experience-extras {
    padding-bottom: 4px;
}

ul {
	margin: 0px;
    padding-left: 15px;
}

p {
	margin: 0;
}

.cv-item-work-experience {
    padding-top: 2px;
    padding-bottom: 8px;
}

.multiline {
	white-space: pre-wrap;
}

/* Skills */

.cv-item-skills{
	display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 3px;
}

.cv-item-skills-subitem {
	grid-column-start: 1;
    padding-bottom: 12px;
}

.cv-item-skills-even-subitem {
	grid-column-start: 2;
}

.cv-item-skills .cv-item-subitem-separator {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
    padding-bottom: 6px;
}

.pill, .pill-full {
	height: 6px;
    width: 20px;
    background-color: #000;
    border-radius: 25%;
    display: inline-block;
}

/* Life Philosophy */

.cv-item-life-philosophy-quote {
	font-style: italic;
	text-align: justify;
	font-size: 15px;
}

.cv-item-life-philosophy-source {
	text-align: right;
}

.cv-item-life-philosophy {
    padding-top: 10px;
}

blockquote {
	margin: 0;
}

/* Education */

.cv-item-education-heading {
	font-size: 19px;
}

.cv-item-education hr {
	margin-top: 9px;
    margin-bottom: 14px;
}

/* Languages */

.cv-item-language {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: 50% 50%;
}

.cv-item-language-title, .cv-item-language-level-label {
	grid-column-start: 1;
}

.cv-item-language-title {
	font-size: 12.65px;
	font-weight: bold;
    padding-bottom: 9px;
}

.cv-item-language-level-label {
	color: #747474;
}

.cv-item-language-level-dots {
	grid-column-start: 2;
	grid-row: 1 / -1;
	justify-self: end;
	margin-top: auto;
	margin-bottom: auto;
}

.dot, .dot-full {
    height: 16px;
    width: 16px;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
}

.cv-item-language + hr {
	width: -moz-available;          /* For Mozzila */
	width: -webkit-fill-available;  /* For Chrome */
	width: stretch;                 /* Unprefixed */
	margin-top: 11px;
	margin-bottom: 11px;
}

/* Achievements */

.cv-item-achievement {
	display: grid;
    grid-template-columns: 14% 86%;
    padding-top: 5px;
}

.cv-item-achievement-icon {
	grid-column-start: 1;
	font-size: 25px;
}

.cv-item-achievement-title {
    font-size: 15px;
	font-weight: bold;
	grid-column-start: 2;
}

/* CV Footer */

.cv-footer {
	/* 76px would be better for consistency but my choice */
    height: 63px;
    width: 793px;
    padding: 0px 76px 0px 63px;
    margin-top: -63px;
	text-align: end;
    margin-left: auto;
    margin-right: auto;
}

/* Secondary color */

.cv-item-work-experience-body, .cv-footer, .cv-item-life-philosophy-source {
	color: #384347;
}

/* Accent color */

.personal-info-title, .cv-item-work-experience-position, .cv-item-life-philosophy-quote, .cv-item-education-subheading {
	/* color: #008cff; */
	color: #d21404;
}

.dot-full, .pill-full {
	background-color: #d21404;
}

.fas, .far {
	color: #d21404;
}

/* Capitalizations */

.cv-item-heading { 
	text-transform: uppercase;
}
